/****** Object:  Table [dbo].[Address]    Script Date: 05/11/2023 6:32:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Id] [int] NOT NULL,
	[Name] [varchar](21) NOT NULL,
	[Country] [varchar](19) NOT NULL,
	[City] [varchar](17) NOT NULL,
	[PostalCode] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 05/11/2023 6:32:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] NOT NULL,
	[FirstName] [varchar](512) NOT NULL,
	[LastName] [varchar](512) NOT NULL,
	[Age] [int] NOT NULL,
	[Salary] [float] NOT NULL,
	[Discriminator] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 05/11/2023 6:32:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[PatientId] [int] NOT NULL,
	[FirstName] [varchar](128) NOT NULL,
	[LastName] [varchar](128) NOT NULL,
	[Age] [int] NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[ExitDate] [datetime] NOT NULL,
	[AddressId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 05/11/2023 6:32:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomId] [int] NOT NULL,
	[RoomName] [varchar](3) NOT NULL,
	[NurseId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Address] ([Id], [Name], [Country], [City], [PostalCode]) VALUES (1, N'001 Schroeder Run', N'Comoros', N'Tabithaport', N'40852')
INSERT [dbo].[Address] ([Id], [Name], [Country], [City], [PostalCode]) VALUES (2, N'076 Alberto Spur', N'Panama', N'Lebsackland', N'87050-9247')
INSERT [dbo].[Address] ([Id], [Name], [Country], [City], [PostalCode]) VALUES (3, N'113 Clay Shores', N'Cayman Islands', N'New Carissa', N'58917')
GO
INSERT [dbo].[Employee] ([Id], [FirstName], [LastName], [Age], [Salary], [Discriminator]) VALUES (1, N'Winfield', N'Upton', 64, 80582.09, N'Nurse')
INSERT [dbo].[Employee] ([Id], [FirstName], [LastName], [Age], [Salary], [Discriminator]) VALUES (2, N'Amalia', N'Auer', 36, 49735.2, N'Nurse')
INSERT [dbo].[Employee] ([Id], [FirstName], [LastName], [Age], [Salary], [Discriminator]) VALUES (3, N'Tabitha', N'Kunze', 38, 63045.5, N'Doctor')
GO
INSERT [dbo].[Patient] ([PatientId], [FirstName], [LastName], [Age], [EntryDate], [ExitDate], [AddressId], [RoomId], [DoctorId]) VALUES (1, N'Burdette', N'Becker', 45, CAST(N'2023-02-07T00:00:00.000' AS DateTime), CAST(N'2024-02-20T00:00:00.000' AS DateTime), 18, 3, 17)
INSERT [dbo].[Patient] ([PatientId], [FirstName], [LastName], [Age], [EntryDate], [ExitDate], [AddressId], [RoomId], [DoctorId]) VALUES (2, N'Trevion', N'Cormier', 63, CAST(N'2022-12-09T00:00:00.000' AS DateTime), CAST(N'2023-09-02T00:00:00.000' AS DateTime), 30, 30, 30)
INSERT [dbo].[Patient] ([PatientId], [FirstName], [LastName], [Age], [EntryDate], [ExitDate], [AddressId], [RoomId], [DoctorId]) VALUES (3, N'Harmon', N'Huels', 32, CAST(N'2022-05-14T00:00:00.000' AS DateTime), CAST(N'2023-12-06T00:00:00.000' AS DateTime), 27, 30, 58)
GO
INSERT [dbo].[Room] ([RoomId], [RoomName], [NurseId]) VALUES (1, N'D97', 75)
INSERT [dbo].[Room] ([RoomId], [RoomName], [NurseId]) VALUES (2, N'C00', 11)
INSERT [dbo].[Room] ([RoomId], [RoomName], [NurseId]) VALUES (3, N'A69', 56)
GO
